{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}FlaskBlog - Edit Post{% endblock %}

{% block page_content %}
<div class="card mt-5">
    <h5 class="card-header">Article Edit:</h5>
    <div class="card-body">
        <div>
            {{ wtf.quick_form(form) }}
            <div style="margin-left:90px; margin-top:-38px; pb-4">
                <a class="btn btn-outline-secondary" href="javascript:history.back()"> Cancel</a>
                {% if id > 0 %}
                <button type="button" class="btn btn-outline-danger btn-sm ml-2 " data-toggle="modal" data-target="#deleModal" > Delete</button>
                {% endif %}
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" >Warning</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body" >
          <p class="text-danger" > Are you sure to delete this one ? </p>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> No </button>
        <a class="btn btn-primary" href="{{url_for('.article_delete', id=id)}}"> Yes</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
