{% extends "base.html" %}

{% block page_content %}


<div class="row justify-content-between">
    <div class="col-8" id="main">
        <!-- Main -->
        {% include '_posts.html' %}
    </div>

    <div class="col-3" id="side">

        <!-- Sidebar -->

            <!-- Intro -->
            <div class="border-bottom mt-5 mb-4">
                <h4>Popular Article </h4>
            </div>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">

                    <div class="card mini-post mt-2">
                        <img class="card-img-top" src="static/images/pic01.jpg" alt=""/>
                        <div class="card-body">
                            <h5><a href="single.html"><span class="text-black">Vitae sed condimentum</span></a></h5>
                            <time class="published" datetime="2015-10-20">October 20, 2015</time>
                            <a href="#" class="author"><img src="images/avatar.jpg" alt=""/></a>
                        </div>
                    </div>


                    <!-- Mini Post -->
                    <!--<article class="mini-post">-->
                        <!--<header>-->
                            <!--<h3><a href="single.html">Rutrum neque accumsan</a></h3>-->
                            <!--<time class="published" datetime="2015-10-19">October 19, 2015</time>-->
                            <!--<a href="#" class="author"><img src="images/avatar.jpg" alt=""/></a>-->
                        <!--</header>-->
                        <!--<a href="single.html" class="image"><img src="images/pic05.jpg" alt=""/></a>-->
                    <!--</article>-->

                </div>
            </section>
    </div>

</div>



{% endblock %}