{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="row ">
    <div class="col-12" id="main">
        <!-- Main -->
            <!-- Post -->

            <div class="card mt-5">
                <div class="card-body post">
                        <div class="row post-head border-bottom pt-4 pb-4">
                            <div class="title col-9 border-right">
                                <h3 class="text-dark">{{post.title}}</h3>
                            </div>
                            <div class="meta col-3 text-right">
                                <div class="post-date text-dark" style="font-size: .8rem">{{ moment(post.created_at).fromNow() }}</div>

                                <div class="post-author mt-2">
                                        <a href="{{ url_for('.user', user_id=post.author.id) }}" class="text-muted">{{ post.author.name }}</a>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="image featured">
                            <img src="/images/pic01.jpg" alt=""/>
                        </a>

                        <p class="text-secondary">
                             {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
                        </p>

                        <footer class="d-flex justify-content-between">

                            <div class="stats">
                                <a href="#" class=" fa fa-heart text-secondary"><span class="ml-1">28</span></a>
                                <a href="#" class="ml-2 fa fa-comment text-secondary"><span class="ml-1">128</span></a>
                            </div>
                        </footer>
                     {% include '_comments.html' %}
                </div>
            </div>

        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                {{ wtf.quick_form(form) }}

                <!--<form class="text-right">-->
                    <!--<div class="form-group">-->
                        <!--{{ form.body() }}-->
                        <!--<textarea rows="3" class="form-control"></textarea>-->
                    <!--</div>-->
                    <!--{{ form.submit() }}-->
                    <!--<button type="submit" id="comment" class="btn btn-primary">Submit</button>-->
                <!--</form>-->
            </div>
        </div>
    </div>

</div>



{% endblock %}