{% extends "base.html" %}

{% block head %}

{{super()}}

<script>

    function update(id) {
        var name = $("#name").val();
        if (name.length < 1) {
            $('#message').html('please input name');
            return;
        }
        var age = $("#age").val();
        if (age.length < 1) {
            $('#message').html('please input email');
            return;
        }
        var gender = $("input[name='genderRadios']:checked").val();
        var grade = $("input[name='gradeRadios']:checked").val();

        $('#message').empty();
        let student = {
            name, age, gender, grade
        }
        let data = JSON.stringify(student);
        if (id) {
            $.ajax({
                url:"/api/student/" + id,
                type: "PUT",
                data: data,
                async: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function(result) {
                    var student = result.student;
                    if (student) {
                         window.location.href="/"
                    }
                }
            })
        } else {
            $.ajax({
                url:"/api/student",
                type: "POST",
                data: data,
                async: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function(result) {
                    var student = result.student;
                    if (student) {
                        window.location.href="/"
                    }
                }
             })
        }
    };


</script>
{% endblock %}


{% block content %}

{{super()}}


<div class="container">
    <div class="panel panel-default" style="margin-top:2rem;">
        <div class="panel-heading">
            {% if student %} 修改用户
            {% else %} 新增用户
            {% endif %}
        </div>
        <div class="panel-body">
            <div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name"
                           {% if student %} value="{{student.name}}" {% endif %}
                    >
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <div>
                        <input  type="radio" name="genderRadios" id="genderRadio" value="female"
                               checked>
                        <label style="width:160px;" for="genderRadio">
                            female
                        </label>

                        <input  type="radio" name="genderRadios" id="genderRadio" value="male">
                        <label style="width:160px;" for="genderRadio">
                            male
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" name="age"
                           {% if student %} value="{{student.age}}" {% endif %}
                    >
                </div>
                
                <div class="form-group">
                    <label>Grade</label>

                    <div>
                        {% for grade in grades %}
                        <input  type="radio" name="gradeRadios" id="gradeRadio" value="{{grade.id}}"
                               checked>
                        <label style="width:160px;" for="gradeRadio">
                            {{grade.name}}
                        </label>

        {% endfor %}


                    </div>
                </div>
                


                <a class="btn btn-default" role="button" href="/">取消</a>
                {% if student %}
                <button type="submit" class="btn btn-primary " onclick="update('{{student.id}}')">修改</button>
                {% else %}
                <button type="submit" class="btn btn-primary " onclick="update()">新增</button>
                {% endif %}

            </div>
            <p class="bg-danger" id="message"></p>

        </div>
    </div>
</div>

{% endblock %}
