{% extends "base.html" %}

{% block head %}

    {{super()}}

    <script >
    function onShow(id) {
                $.ajax({url:"/api/student/" + id,success:function(result) {
                    console.log(result);
                    var student = result.student;
                    var info = '<p class="text-success">'+ student.id+ ', ' + student.name + ', ' + student.email + '</p>';
                     console.log(info);
                    $("#modalBody").html(info);
                    $('#myModal').modal('show');
                }});
	};

    function clickDelete(id) {
        window.studentId = id
        $.ajax({
            url:"/api/student/" + id,
            type:"GET",
            dataType:"json",
            success:function(result) {
                var student = result.student;
                var info = '是否删除' + student.name + '（' + student.email + '）?';
                $("#modalBody").html(info);
                $('#myModal').modal('show');
            }
        })
    };

    function onDelete() {
        var id = window.studentId;
        $.ajax({
            url:"/api/student/" + id,
            type:"DELETE",
            dataType:"json",
            success:function(result) {
                if (result.result) {
                    $('#myModal').modal('hide');
                    $("#student" + id ).remove();
                }
            }
        })
    };
    </script>
{% endblock %}

{% block content %}

{{super()}}

<div class="container">
    <div style="text-align:right;padding: 1rem;">
        <a class="btn btn-success" role="button" aria-pressed="true" href="/student">添加</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Student</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Grade</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody id="listBody">

        {% for student in students %}

        <tr id="student{{student.id}}">
            <th scope="row">{{student.id}}</th>
            <td>{{student.name}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.age}}</td>
            {% if student.grade %}
            <td>{{student.grade.name}}</td>
            {% endif %}
            <td>
                <a class="btn btn-primary" role="button" href="/student/{{student.id}}">修改</a>
                <button type="submit" class="btn btn-danger" onclick="clickDelete('{{student.id}}')">删除</button>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    <div class="mt-5"> </div>
     <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Grade</th>
            <th scope="col">Name</th>
            <th scope="col">Updated_At</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody >

        {% for grade in grades %}

        <tr id="grade{{grade.id}}">
            <th scope="row">{{grade.id}}</th>
            <td>{{grade.name}}</td>
            <td>{{grade.updated_at}}</td>
            <td>
                **
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >用户详情</h4>
      </div>
      <div class="modal-body" >
          <p class="text-danger" id="modalBody"> </p>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> 取消 </button>
        <button type="button" class="btn btn-primary" onclick="onDelete()"> 确定</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

